<app-header></app-header>
<router-outlet></router-outlet>
<!--

<div [style.background-color]="bgColor"  [hidden]="show">
  Hello world My Background color is {{bgColor}}  <i class="fa fa-smile-o" aria-hidden="true"></i>

  <i class="fa-solid fa-face-smile"></i>

</div>
<button (click)="changeColor()" class="btn btn-danger">Allumer/Eteindre</button>
<div class="alert alert-success">
  Hello<i class="fa fa-smile-o" aria-hidden="true"></i>


  <i class="fa-thin fa-house"></i>
  <i class="fas fa-yin-yang"></i>
</div>

<app-color></app-color>
-->
<!--<app-cv></app-cv>-->
<!--<app-style [color]="'red'" [bgColor]="'yellow'"></app-style>-->
<!--<app-class></app-class>-->
<!--<app-color></app-color>-->
<!--<app-fils></app-fils>-->
<!--<app-embauche></app-embauche>-->







